### Time Series

In [1]:
from datetime import datetime

In [2]:
a=datetime.now()

In [3]:
a

datetime.datetime(2020, 1, 3, 9, 27, 57, 190800)

In [4]:
a.date()

datetime.date(2020, 1, 3)

In [5]:
a.year

2020

In [6]:
a.day

3

In [7]:
from datetime import *

In [8]:
import *?

In [9]:
from datetime import *
now=datetime.now()
print("date: {}-{}-{}".format(now.day,now.month,now.year))

date: 3-1-2020

In [13]:
print("time: {}:{}:{}:{}".format(now.hour,now.minute,now.second,now.microsecond))

time: 9:31:42:117219

In [17]:
td=datetime.today()
print(td)
t=date.today()
print(t)

2020-01-03 09:36:52.900282
2020-01-03

In [23]:
b=datetime(2020,1,3)-datetime(1999,2,18,9,39,0)
b

datetime.timedelta(days=7623, seconds=51660)

In [24]:
b=datetime(2020,1,3)-datetime(1999,2,18,9,39,0)
b.days

7623

In [27]:
b=datetime(2020,1,3)-datetime(1999,2,18,9,39,0)
print(b.seconds)
print(b.days)
print(b.total_seconds())
b

51660
7623
658678860.0

datetime.timedelta(days=7623, seconds=51660)

In [22]:
datetime(2020,1,3)

datetime.datetime(2020, 1, 3, 0, 0)

In [28]:
datetime(2020,1,3)+timedelta(200)

datetime.datetime(2020, 7, 21, 0, 0)

In [29]:
datetime(2020,1,3)-timedelta(100)

datetime.datetime(2019, 9, 25, 0, 0)

In [41]:
t="3 January 2020"
datetime.strptime(t,"%d %B %Y")

datetime.datetime(2020, 1, 3, 0, 0)

In [46]:
a=datetime.today()
a.strftime("%d %b %Y")

'03 Jan 2020'

In [47]:
a=[datetime(2020,2,3),datetime(2019,1,4),datetime(2018,2,10)]
b=[i.strftime("%d %b %Y") for i in a ]
b

['03 Feb 2020', '04 Jan 2019', '10 Feb 2018']

In [48]:
a=[datetime(2020,2,3),datetime(2019,1,4),datetime(2018,2,10)]
b=[i.strftime("%d %B %Y") for i in a ]
b

['03 February 2020', '04 January 2019', '10 February 2018']

In [49]:
a=[datetime(2020,2,3),datetime(2019,1,4),datetime(2018,2,10)]
b=[i.strftime("%d %b %y") for i in a ]
b

['03 Feb 20', '04 Jan 19', '10 Feb 18']

In [53]:
import pandas as pd
import numpy as np

In [54]:
dates=[datetime(2020,2,3),datetime(2019,1,4),datetime(2018,2,10),datetime(2017,3,11),datetime(2016,5,1)]

In [58]:
a=pd.Series(np.random.rand(5),index=dates)
a

2020-02-03    0.773512
2019-01-04    0.925084
2018-02-10    0.773527
2017-03-11    0.713895
2016-05-01    0.133059
dtype: float64

In [60]:
a=pd.Series(np.random.rand(5),index=dates)
a.index

DatetimeIndex(['2020-02-03', '2019-01-04', '2018-02-10', '2017-03-11',
               '2016-05-01'],
              dtype='datetime64[ns]', freq=None)

In [61]:
a.values

array([0.68926394, 0.85440792, 0.611555  , 0.47312745, 0.35222078])

In [62]:
a["2016-05"]

2016-05-01    0.352221
dtype: float64

In [63]:
a["2016"]

2016-05-01    0.352221
dtype: float64

In [64]:
a.index[1]

Timestamp('2019-01-04 00:00:00')

In [66]:
n=datetime.now()
timestamp=n.timestamp()
timestamp

1578027224.514807

In [69]:
a=pd.Series(np.random.rand(1000),index=pd.date_range(start="18/2/1999",periods=1000))

In [71]:
a["2000"]

2000-01-01    0.674862
2000-01-02    0.316743
2000-01-03    0.853286
2000-01-04    0.935923
2000-01-05    0.044914
2000-01-06    0.299870
2000-01-07    0.328931
2000-01-08    0.283212
2000-01-09    0.203007
2000-01-10    0.553394
2000-01-11    0.287395
2000-01-12    0.044397
2000-01-13    0.847432
2000-01-14    0.943370
2000-01-15    0.582809
2000-01-16    0.842807
2000-01-17    0.894580
2000-01-18    0.460090
2000-01-19    0.078908
2000-01-20    0.601152
2000-01-21    0.794626
2000-01-22    0.921152
2000-01-23    0.746864
2000-01-24    0.595060
2000-01-25    0.819309
2000-01-26    0.585494
2000-01-27    0.890185
2000-01-28    0.609007
2000-01-29    0.393491
2000-01-30    0.975309
                ...
2000-12-02    0.082556
2000-12-03    0.906266
2000-12-04    0.593052
2000-12-05    0.064618
2000-12-06    0.793222
2000-12-07    0.991512
2000-12-08    0.161708
2000-12-09    0.337755
2000-12-10    0.345259
2000-12-11    0.437407
2000-12-12    0.247804
2000-12-13    0.303758
2000-12-14    0.587321
2000-12-15    0.356270
2000-12-16    0.270569
2000-12-17    0.207118
2000-12-18    0.388301
2000-12-19    0.874458
2000-12-20    0.041376
2000-12-21    0.147841
2000-12-22    0.868338
2000-12-23    0.892774
2000-12-24    0.800934
2000-12-25    0.715525
2000-12-26    0.351487
2000-12-27    0.349928
2000-12-28    0.501372
2000-12-29    0.300295
2000-12-30    0.316820
2000-12-31    0.369061
Freq: D, Length: 366, dtype: float64

In [74]:
a["2000-01-01":"2000-01-30"]

2000-01-01    0.674862
2000-01-02    0.316743
2000-01-03    0.853286
2000-01-04    0.935923
2000-01-05    0.044914
2000-01-06    0.299870
2000-01-07    0.328931
2000-01-08    0.283212
2000-01-09    0.203007
2000-01-10    0.553394
2000-01-11    0.287395
2000-01-12    0.044397
2000-01-13    0.847432
2000-01-14    0.943370
2000-01-15    0.582809
2000-01-16    0.842807
2000-01-17    0.894580
2000-01-18    0.460090
2000-01-19    0.078908
2000-01-20    0.601152
2000-01-21    0.794626
2000-01-22    0.921152
2000-01-23    0.746864
2000-01-24    0.595060
2000-01-25    0.819309
2000-01-26    0.585494
2000-01-27    0.890185
2000-01-28    0.609007
2000-01-29    0.393491
2000-01-30    0.975309
Freq: D, dtype: float64

In [76]:
pd.date_range("03/01/2020","02/01/2021",freq="BM")

DatetimeIndex(['2020-03-31', '2020-04-30', '2020-05-29', '2020-06-30',
               '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30',
               '2020-11-30', '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', freq='BM')

In [79]:
pd.date_range("03/01/2020","02/01/2021",freq="WOM-3Sat")

DatetimeIndex(['2020-03-21', '2020-04-18', '2020-05-16', '2020-06-20',
               '2020-07-18', '2020-08-15', '2020-09-19', '2020-10-17',
               '2020-11-21', '2020-12-19', '2021-01-16'],
              dtype='datetime64[ns]', freq='WOM-3SAT')

In [80]:
pd.date_range("03/01/2020","02/01/2021",freq="SM")   #half days

DatetimeIndex(['2020-03-15', '2020-03-31', '2020-04-15', '2020-04-30',
               '2020-05-15', '2020-05-31', '2020-06-15', '2020-06-30',
               '2020-07-15', '2020-07-31', '2020-08-15', '2020-08-31',
               '2020-09-15', '2020-09-30', '2020-10-15', '2020-10-31',
               '2020-11-15', '2020-11-30', '2020-12-15', '2020-12-31',
               '2021-01-15', '2021-01-31'],
              dtype='datetime64[ns]', freq='SM-15')

In [82]:
pd.date_range("03/01/2020","02/01/2021",freq="Q")

DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [84]:
pd.date_range("03/01/2020","02/01/2021",freq="A")

DatetimeIndex(['2020-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [85]:
pd.date_range("03/01/2020","02/01/2021",freq="BM")

DatetimeIndex(['2020-03-31', '2020-04-30', '2020-05-29', '2020-06-30',
               '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30',
               '2020-11-30', '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', freq='BM')

In [86]:
pd.date_range("03/01/2020","02/01/2021",freq="RE")

ValueError: Invalid frequency: RE

In [88]:
dates=pd.date_range(start="2/3/2019",periods=100)
dates

DatetimeIndex(['2019-02-03', '2019-02-04', '2019-02-05', '2019-02-06',
               '2019-02-07', '2019-02-08', '2019-02-09', '2019-02-10',
               '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14',
               '2019-02-15', '2019-02-16', '2019-02-17', '2019-02-18',
               '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22',
               '2019-02-23', '2019-02-24', '2019-02-25', '2019-02-26',
               '2019-02-27', '2019-02-28', '2019-03-01', '2019-03-02',
               '2019-03-03', '2019-03-04', '2019-03-05', '2019-03-06',
               '2019-03-07', '2019-03-08', '2019-03-09', '2019-03-10',
               '2019-03-11', '2019-03-12', '2019-03-13', '2019-03-14',
               '2019-03-15', '2019-03-16', '2019-03-17', '2019-03-18',
               '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22',
               '2019-03-23', '2019-03-24', '2019-03-25', '2019-03-26',
               '2019-03-27', '2019-03-28', '2019-03-29', '2019-03-30',
               '2019-03-31', '2019-04-01', '2019-04-02', '2019-04-03',
               '2019-04-04', '2019-04-05', '2019-04-06', '2019-04-07',
               '2019-04-08', '2019-04-09', '2019-04-10', '2019-04-11',
               '2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',
               '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19',
               '2019-04-20', '2019-04-21', '2019-04-22', '2019-04-23',
               '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-27',
               '2019-04-28', '2019-04-29', '2019-04-30', '2019-05-01',
               '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
               '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09',
               '2019-05-10', '2019-05-11', '2019-05-12', '2019-05-13'],
              dtype='datetime64[ns]', freq='D')

In [90]:
s=pd.DataFrame(np.random.rand(100,4),index=dates,columns=["India","china","USA","Australia"])

In [91]:
s

               India     china       USA  Australia
2019-02-03  0.561687  0.026644  0.059057   0.021650
2019-02-04  0.171599  0.968230  0.755531   0.289665
2019-02-05  0.210644  0.570662  0.101439   0.909769
2019-02-06  0.431821  0.903141  0.573115   0.584537
2019-02-07  0.278189  0.343479  0.936138   0.639339
2019-02-08  0.484305  0.304736  0.608091   0.883428
2019-02-09  0.150776  0.955187  0.185564   0.624672
2019-02-10  0.254819  0.850273  0.120472   0.538940
2019-02-11  0.855378  0.430699  0.347006   0.905599
2019-02-12  0.638818  0.319534  0.825962   0.246578
2019-02-13  0.274473  0.131893  0.825836   0.163856
2019-02-14  0.616612  0.945879  0.513415   0.266121
2019-02-15  0.794158  0.212578  0.853662   0.164347
2019-02-16  0.880385  0.712394  0.036818   0.970941
2019-02-17  0.963146  0.685298  0.607715   0.088017
2019-02-18  0.713276  0.546849  0.791204   0.895440
2019-02-19  0.885576  0.010016  0.497354   0.953016
2019-02-20  0.811011  0.076418  0.667760   0.368021
2019-02-21  0.085537  0.586036  0.472979   0.757829
2019-02-22  0.189271  0.724781  0.542511   0.157971
2019-02-23  0.797079  0.475385  0.875746   0.216631
2019-02-24  0.914694  0.261866  0.592799   0.231366
2019-02-25  0.426500  0.711778  0.879790   0.969634
2019-02-26  0.517320  0.581717  0.539243   0.204905
2019-02-27  0.046886  0.132131  0.371027   0.076186
2019-02-28  0.920692  0.309538  0.404982   0.815153
2019-03-01  0.138878  0.563108  0.124554   0.663975
2019-03-02  0.516541  0.889803  0.406787   0.541693
2019-03-03  0.969173  0.943434  0.977019   0.477913
2019-03-04  0.793036  0.792232  0.461578   0.824681
...              ...       ...       ...        ...
2019-04-14  0.873556  0.322495  0.499768   0.549345
2019-04-15  0.290535  0.669179  0.238347   0.529159
2019-04-16  0.729453  0.416177  0.035771   0.070366
2019-04-17  0.792285  0.357755  0.281401   0.614828
2019-04-18  0.123199  0.639160  0.230934   0.516097
2019-04-19  0.503479  0.521120  0.375585   0.035343
2019-04-20  0.822071  0.977576  0.703625   0.518750
2019-04-21  0.331562  0.934081  0.216947   0.282176
2019-04-22  0.831867  0.590679  0.824545   0.487536
2019-04-23  0.964058  0.325643  0.260777   0.022131
2019-04-24  0.556043  0.826493  0.729029   0.618965
2019-04-25  0.445930  0.379233  0.524917   0.872422
2019-04-26  0.228563  0.396685  0.960391   0.425371
2019-04-27  0.733031  0.972714  0.257847   0.891153
2019-04-28  0.346125  0.496411  0.556203   0.283684
2019-04-29  0.363941  0.768957  0.368002   0.079431
2019-04-30  0.672060  0.403335  0.217122   0.548168
2019-05-01  0.931730  0.415038  0.156011   0.001293
2019-05-02  0.243020  0.790802  0.803832   0.045548
2019-05-03  0.009489  0.734443  0.631655   0.937986
2019-05-04  0.368538  0.083252  0.059363   0.483179
2019-05-05  0.504221  0.446846  0.624110   0.245147
2019-05-06  0.119075  0.946445  0.880078   0.769072
2019-05-07  0.078390  0.540933  0.338748   0.773392
2019-05-08  0.884741  0.072281  0.898550   0.144862
2019-05-09  0.303907  0.727261  0.178299   0.514765
2019-05-10  0.675005  0.670265  0.555708   0.706964
2019-05-11  0.773826  0.113566  0.759589   0.550731
2019-05-12  0.004656  0.455758  0.394919   0.429610
2019-05-13  0.955000  0.601192  0.665424   0.690937

[100 rows x 4 columns]

In [92]:
s["India"]

2019-02-03    0.561687
2019-02-04    0.171599
2019-02-05    0.210644
2019-02-06    0.431821
2019-02-07    0.278189
2019-02-08    0.484305
2019-02-09    0.150776
2019-02-10    0.254819
2019-02-11    0.855378
2019-02-12    0.638818
2019-02-13    0.274473
2019-02-14    0.616612
2019-02-15    0.794158
2019-02-16    0.880385
2019-02-17    0.963146
2019-02-18    0.713276
2019-02-19    0.885576
2019-02-20    0.811011
2019-02-21    0.085537
2019-02-22    0.189271
2019-02-23    0.797079
2019-02-24    0.914694
2019-02-25    0.426500
2019-02-26    0.517320
2019-02-27    0.046886
2019-02-28    0.920692
2019-03-01    0.138878
2019-03-02    0.516541
2019-03-03    0.969173
2019-03-04    0.793036
                ...
2019-04-14    0.873556
2019-04-15    0.290535
2019-04-16    0.729453
2019-04-17    0.792285
2019-04-18    0.123199
2019-04-19    0.503479
2019-04-20    0.822071
2019-04-21    0.331562
2019-04-22    0.831867
2019-04-23    0.964058
2019-04-24    0.556043
2019-04-25    0.445930
2019-04-26    0.228563
2019-04-27    0.733031
2019-04-28    0.346125
2019-04-29    0.363941
2019-04-30    0.672060
2019-05-01    0.931730
2019-05-02    0.243020
2019-05-03    0.009489
2019-05-04    0.368538
2019-05-05    0.504221
2019-05-06    0.119075
2019-05-07    0.078390
2019-05-08    0.884741
2019-05-09    0.303907
2019-05-10    0.675005
2019-05-11    0.773826
2019-05-12    0.004656
2019-05-13    0.955000
Freq: D, Name: India, Length: 100, dtype: float64

In [93]:
s.index.is_unique

True

In [111]:
s.loc["2019-03-22":]

               India     china       USA  Australia
2019-03-22  0.649657  0.726140  0.517152   0.715137
2019-03-23  0.904547  0.910240  0.471125   0.086212
2019-03-24  0.603666  0.976558  0.431061   0.669716
2019-03-25  0.548500  0.722388  0.294590   0.591166
2019-03-26  0.278944  0.804067  0.651693   0.669809
2019-03-27  0.227891  0.723808  0.765681   0.652984
2019-03-28  0.016737  0.995045  0.528605   0.047131
2019-03-29  0.904448  0.270985  0.869134   0.027217
2019-03-30  0.890185  0.219193  0.932139   0.742753
2019-03-31  0.804631  0.818752  0.334091   0.322854
2019-04-01  0.731229  0.642996  0.074709   0.990711
2019-04-02  0.210977  0.417473  0.453710   0.505558
2019-04-03  0.476799  0.163032  0.825630   0.732757
2019-04-04  0.487940  0.066202  0.990268   0.915290
2019-04-05  0.609840  0.546501  0.186480   0.150233
2019-04-06  0.778549  0.856188  0.216644   0.527711
2019-04-07  0.039806  0.292859  0.911271   0.412254
2019-04-08  0.641090  0.320124  0.720732   0.325745
2019-04-09  0.415464  0.614618  0.509652   0.526404
2019-04-10  0.900114  0.678330  0.782880   0.110844
2019-04-11  0.864227  0.307532  0.270946   0.982744
2019-04-12  0.227135  0.476743  0.783256   0.771675
2019-04-13  0.133943  0.273975  0.467811   0.029520
2019-04-14  0.873556  0.322495  0.499768   0.549345
2019-04-15  0.290535  0.669179  0.238347   0.529159
2019-04-16  0.729453  0.416177  0.035771   0.070366
2019-04-17  0.792285  0.357755  0.281401   0.614828
2019-04-18  0.123199  0.639160  0.230934   0.516097
2019-04-19  0.503479  0.521120  0.375585   0.035343
2019-04-20  0.822071  0.977576  0.703625   0.518750
2019-04-21  0.331562  0.934081  0.216947   0.282176
2019-04-22  0.831867  0.590679  0.824545   0.487536
2019-04-23  0.964058  0.325643  0.260777   0.022131
2019-04-24  0.556043  0.826493  0.729029   0.618965
2019-04-25  0.445930  0.379233  0.524917   0.872422
2019-04-26  0.228563  0.396685  0.960391   0.425371
2019-04-27  0.733031  0.972714  0.257847   0.891153
2019-04-28  0.346125  0.496411  0.556203   0.283684
2019-04-29  0.363941  0.768957  0.368002   0.079431
2019-04-30  0.672060  0.403335  0.217122   0.548168
2019-05-01  0.931730  0.415038  0.156011   0.001293
2019-05-02  0.243020  0.790802  0.803832   0.045548
2019-05-03  0.009489  0.734443  0.631655   0.937986
2019-05-04  0.368538  0.083252  0.059363   0.483179
2019-05-05  0.504221  0.446846  0.624110   0.245147
2019-05-06  0.119075  0.946445  0.880078   0.769072
2019-05-07  0.078390  0.540933  0.338748   0.773392
2019-05-08  0.884741  0.072281  0.898550   0.144862
2019-05-09  0.303907  0.727261  0.178299   0.514765
2019-05-10  0.675005  0.670265  0.555708   0.706964
2019-05-11  0.773826  0.113566  0.759589   0.550731
2019-05-12  0.004656  0.455758  0.394919   0.429610
2019-05-13  0.955000  0.601192  0.665424   0.690937

In [106]:
s.groupby?

In [109]:
group=s.groupby(level=0)

In [110]:
group.mean()

               India     china       USA  Australia
2019-02-03  0.561687  0.026644  0.059057   0.021650
2019-02-04  0.171599  0.968230  0.755531   0.289665
2019-02-05  0.210644  0.570662  0.101439   0.909769
2019-02-06  0.431821  0.903141  0.573115   0.584537
2019-02-07  0.278189  0.343479  0.936138   0.639339
2019-02-08  0.484305  0.304736  0.608091   0.883428
2019-02-09  0.150776  0.955187  0.185564   0.624672
2019-02-10  0.254819  0.850273  0.120472   0.538940
2019-02-11  0.855378  0.430699  0.347006   0.905599
2019-02-12  0.638818  0.319534  0.825962   0.246578
2019-02-13  0.274473  0.131893  0.825836   0.163856
2019-02-14  0.616612  0.945879  0.513415   0.266121
2019-02-15  0.794158  0.212578  0.853662   0.164347
2019-02-16  0.880385  0.712394  0.036818   0.970941
2019-02-17  0.963146  0.685298  0.607715   0.088017
2019-02-18  0.713276  0.546849  0.791204   0.895440
2019-02-19  0.885576  0.010016  0.497354   0.953016
2019-02-20  0.811011  0.076418  0.667760   0.368021
2019-02-21  0.085537  0.586036  0.472979   0.757829
2019-02-22  0.189271  0.724781  0.542511   0.157971
2019-02-23  0.797079  0.475385  0.875746   0.216631
2019-02-24  0.914694  0.261866  0.592799   0.231366
2019-02-25  0.426500  0.711778  0.879790   0.969634
2019-02-26  0.517320  0.581717  0.539243   0.204905
2019-02-27  0.046886  0.132131  0.371027   0.076186
2019-02-28  0.920692  0.309538  0.404982   0.815153
2019-03-01  0.138878  0.563108  0.124554   0.663975
2019-03-02  0.516541  0.889803  0.406787   0.541693
2019-03-03  0.969173  0.943434  0.977019   0.477913
2019-03-04  0.793036  0.792232  0.461578   0.824681
...              ...       ...       ...        ...
2019-04-14  0.873556  0.322495  0.499768   0.549345
2019-04-15  0.290535  0.669179  0.238347   0.529159
2019-04-16  0.729453  0.416177  0.035771   0.070366
2019-04-17  0.792285  0.357755  0.281401   0.614828
2019-04-18  0.123199  0.639160  0.230934   0.516097
2019-04-19  0.503479  0.521120  0.375585   0.035343
2019-04-20  0.822071  0.977576  0.703625   0.518750
2019-04-21  0.331562  0.934081  0.216947   0.282176
2019-04-22  0.831867  0.590679  0.824545   0.487536
2019-04-23  0.964058  0.325643  0.260777   0.022131
2019-04-24  0.556043  0.826493  0.729029   0.618965
2019-04-25  0.445930  0.379233  0.524917   0.872422
2019-04-26  0.228563  0.396685  0.960391   0.425371
2019-04-27  0.733031  0.972714  0.257847   0.891153
2019-04-28  0.346125  0.496411  0.556203   0.283684
2019-04-29  0.363941  0.768957  0.368002   0.079431
2019-04-30  0.672060  0.403335  0.217122   0.548168
2019-05-01  0.931730  0.415038  0.156011   0.001293
2019-05-02  0.243020  0.790802  0.803832   0.045548
2019-05-03  0.009489  0.734443  0.631655   0.937986
2019-05-04  0.368538  0.083252  0.059363   0.483179
2019-05-05  0.504221  0.446846  0.624110   0.245147
2019-05-06  0.119075  0.946445  0.880078   0.769072
2019-05-07  0.078390  0.540933  0.338748   0.773392
2019-05-08  0.884741  0.072281  0.898550   0.144862
2019-05-09  0.303907  0.727261  0.178299   0.514765
2019-05-10  0.675005  0.670265  0.555708   0.706964
2019-05-11  0.773826  0.113566  0.759589   0.550731
2019-05-12  0.004656  0.455758  0.394919   0.429610
2019-05-13  0.955000  0.601192  0.665424   0.690937

[100 rows x 4 columns]

In [112]:
s["India"].count()

100

In [118]:
s["India"].unique()

array([0.56168685, 0.17159863, 0.21064434, 0.43182063, 0.27818945,
       0.48430488, 0.15077647, 0.25481907, 0.85537804, 0.63881814,
       0.27447347, 0.61661237, 0.79415836, 0.88038488, 0.96314599,
       0.71327552, 0.88557575, 0.811011  , 0.08553669, 0.18927131,
       0.79707896, 0.9146945 , 0.4264995 , 0.51732   , 0.04688602,
       0.92069208, 0.13887763, 0.51654101, 0.96917263, 0.79303567,
       0.53434448, 0.83304241, 0.4942008 , 0.24935113, 0.9671519 ,
       0.36085941, 0.18913554, 0.95485063, 0.65832572, 0.03087381,
       0.71557976, 0.45926881, 0.6229978 , 0.18769047, 0.12418782,
       0.10660889, 0.88963872, 0.64965748, 0.90454658, 0.60366628,
       0.54849992, 0.27894383, 0.22789104, 0.01673725, 0.90444777,
       0.89018479, 0.80463056, 0.73122944, 0.21097726, 0.47679922,
       0.48794019, 0.60984013, 0.77854931, 0.03980622, 0.64108967,
       0.41546362, 0.90011373, 0.8642266 , 0.2271347 , 0.13394332,
       0.87355601, 0.29053465, 0.72945344, 0.79228464, 0.12319919,
       0.503479  , 0.82207089, 0.33156198, 0.8318666 , 0.9640578 ,
       0.556043  , 0.44592954, 0.22856274, 0.73303072, 0.34612495,
       0.36394108, 0.67205988, 0.93172954, 0.24302013, 0.0094894 ,
       0.3685375 , 0.50422106, 0.11907468, 0.07839028, 0.88474139,
       0.30390654, 0.67500452, 0.7738256 , 0.00465602, 0.95500038])

In [119]:
len(s)

100

In [120]:
a=s.count()
a

India        100
china        100
USA          100
Australia    100
dtype: int64

In [122]:
pd.date_range(start="1/1/2020",periods=5,freq=pd.offsets.MonthBegin(3))

DatetimeIndex(['2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01',
               '2021-01-01'],
              dtype='datetime64[ns]', freq='3MS')

In [124]:
pd.date_range(start="1/1/2020",periods=5,freq="MS")

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01'],
              dtype='datetime64[ns]', freq='MS')

###  Time

In [125]:
from pandas.tseries.offsets import Hour,Minute

In [126]:
h=Hour(4)
h

In [127]:
m=Minute()
m

In [129]:
m=Minute(30)
m

In [130]:
pd.date_range("2/2/2020","3/4/2020 23:59",freq="4H")

DatetimeIndex(['2020-02-02 00:00:00', '2020-02-02 04:00:00',
               '2020-02-02 08:00:00', '2020-02-02 12:00:00',
               '2020-02-02 16:00:00', '2020-02-02 20:00:00',
               '2020-02-03 00:00:00', '2020-02-03 04:00:00',
               '2020-02-03 08:00:00', '2020-02-03 12:00:00',
               ...
               '2020-03-03 08:00:00', '2020-03-03 12:00:00',
               '2020-03-03 16:00:00', '2020-03-03 20:00:00',
               '2020-03-04 00:00:00', '2020-03-04 04:00:00',
               '2020-03-04 08:00:00', '2020-03-04 12:00:00',
               '2020-03-04 16:00:00', '2020-03-04 20:00:00'],
              dtype='datetime64[ns]', length=192, freq='4H')

In [135]:
pd.date_range("2/2/2020","3/4/2020 23:59",freq="1H30MIN")

DatetimeIndex(['2020-02-02 00:00:00', '2020-02-02 01:30:00',
               '2020-02-02 03:00:00', '2020-02-02 04:30:00',
               '2020-02-02 06:00:00', '2020-02-02 07:30:00',
               '2020-02-02 09:00:00', '2020-02-02 10:30:00',
               '2020-02-02 12:00:00', '2020-02-02 13:30:00',
               ...
               '2020-03-04 09:00:00', '2020-03-04 10:30:00',
               '2020-03-04 12:00:00', '2020-03-04 13:30:00',
               '2020-03-04 15:00:00', '2020-03-04 16:30:00',
               '2020-03-04 18:00:00', '2020-03-04 19:30:00',
               '2020-03-04 21:00:00', '2020-03-04 22:30:00'],
              dtype='datetime64[ns]', length=512, freq='90T')

In [137]:
f=pd.date_range("3/1/2020",periods=10)
f

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [140]:
for i in f:
    print(i.dayofweek,i.weekday_name)

6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [141]:
a=datetime.now()
a

datetime.datetime(2020, 1, 3, 13, 42, 31, 984133)

In [142]:
a=date.today()

In [147]:
a=pd.Series(np.random.rand(5),index=pd.date_range(start="18/2/1999",periods=5))
a.shift(2)

1999-02-18         NaN
1999-02-19         NaN
1999-02-20    0.583413
1999-02-21    0.188679
1999-02-22    0.701320
Freq: D, dtype: float64

In [148]:
a.shift(-2)

1999-02-18    0.701320
1999-02-19    0.630459
1999-02-20    0.368502
1999-02-21         NaN
1999-02-22         NaN
Freq: D, dtype: float64

In [149]:
a.shift(2,freq="D")

1999-02-20    0.583413
1999-02-21    0.188679
1999-02-22    0.701320
1999-02-23    0.630459
1999-02-24    0.368502
Freq: D, dtype: float64

In [150]:
a.shift(1,freq="90T")

1999-02-18 01:30:00    0.583413
1999-02-19 01:30:00    0.188679
1999-02-20 01:30:00    0.701320
1999-02-21 01:30:00    0.630459
1999-02-22 01:30:00    0.368502
Freq: D, dtype: float64

In [152]:
from pandas.tseries.offsets import Day,MonthEnd

In [153]:
now=datetime.now()
now

datetime.datetime(2020, 1, 3, 13, 53, 24, 851940)

In [154]:
now+2*Day()

Timestamp('2020-01-05 13:53:24.851940')

In [155]:
now+Day()

Timestamp('2020-01-04 13:53:24.851940')

In [156]:
now+MonthEnd()

Timestamp('2020-01-31 13:53:24.851940')

In [157]:
now+MonthEnd(2)

Timestamp('2020-02-29 13:53:24.851940')

In [158]:
a=MonthEnd()
a.rollback(now)

Timestamp('2019-12-31 13:53:24.851940')

In [161]:
a.rollforward(now)

Timestamp('2020-01-31 13:53:24.851940')

In [162]:
import pytz                           ### python time zone

In [163]:
pytz.common_timezones[:]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [164]:
t=pytz.timezone('Asia/Kolkata')
t

In [166]:
t=pytz.timezone( 'Indian/Reunion')
t

In [167]:
a=pd.date_range("1/1/2020",periods=5,freq="MS",tz='Asia/Kolkata')
a

DatetimeIndex(['2020-01-01 00:00:00+05:30', '2020-02-01 00:00:00+05:30',
               '2020-03-01 00:00:00+05:30', '2020-04-01 00:00:00+05:30',
               '2020-05-01 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='MS')

In [168]:
t=pd.Timestamp("2020-03-01 4:00",tz="Asia/Kolkata")
t

Timestamp('2020-03-01 04:00:00+0530', tz='Asia/Kolkata')

In [170]:
t.tz_convert('Asia/Kuwait')

Timestamp('2020-03-01 01:30:00+0300', tz='Asia/Kuwait')