### List comprehension
            to create new sublist

In [3]:
num=[]
for i in range(1,100):
    if(i%3==0):
        num.append(i)
print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

#### [item loop condition]

In [6]:
[1 for i in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [7]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

#### filter data percentage>=60 and backlogs below 2

In [13]:
students=[['sai',70],['ram',30],['lakshmi',60]]
[student for student in students if student[1]>=60]

[['sai', 70], ['lakshmi', 60]]

In [15]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[student for student in students if(student[1]>=60 and student[2]<=1)]

[['sai', 70, 1]]

In [17]:
[i+each for i in range(3) for each in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

### x^2+y^2=z^2

#####  3 4 5, ...........

In [25]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if((x**2+y**2)==z**2)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

00
10
01
11

In [37]:
[(str(i)+str(j)) for i in range(0,2) for j in range(0,2)]

['00', '01', '10', '11']

### create two digit roll number with numbers 0 to 9

In [38]:
[(str(i)+str(j)) for i in range(0,10) for j in range(0,10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [ ]:
a=['A','B']
b=[1,2]