In [23]:
fh_i=open('book.txt','r')
fh_o=open('report.txt','w')
c=0
rows=[]
for i in fh_i:
    c+=1
    if c==1:
        fh_o.write(i.strip()+'\ttotal\n')
    else:
        marks_list=i.strip().split()[2:]
        newmarks=[]
        for each in marks_list:
            newmarks.append(int(each))
        total_marks=sum(newmarks)
        row=i.strip()+'\t\t'+str(total_marks)+'\n'
        rows.append([total_marks,row])
rows.sort(reverse=True)
for row in rows:
    fh_o.write(row[1])
fh_i.close()
fh_o.close()

#### create dictionary for squares of 1 to 10 numbers

In [24]:
d=dict()
for i in range(1,11):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

##  Dictionary Comprehension

In [25]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
{i:i*i for i in range(1,11) if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [28]:
{i:i*i if i%2==0 else i**3 for i in range(1,11)}      ## for else condition should be placed at left side

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [7]:
names=['sai','ram','deepu']
grades=['A','B','C']
students={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    students[name]=grade
print(students)

{'sai': 'A', 'ram': 'B', 'deepu': 'C'}

In [9]:
names=['sai','ram','deepu']
grades=['A','B','C']
for i in zip(names,grades):
    print(i)

('sai', 'A')
('ram', 'B')
('deepu', 'C')

In [10]:
names=['sai','ram','deepu']
grades=['A','B','C']
{name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ram': 'B', 'deepu': 'C'}

## task
    Sort the students based on english marks
    ['name',english,maths]

In [37]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda students:students[1])
students

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [33]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
removeIndex=1
for student in students:
    student.insert(0,student.pop(removeIndex))
students.sort()
for student in students:
    student.insert(removeIndex,student.pop(0))
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [21]:
add = lambda x:'hi'
add(11)

'hi'

In [22]:
square =lambda x:x*x
square(3)

9

In [28]:
fun =lambda x:x

In [29]:
a=[1,2,3,4]
fun(a)

1

In [31]:
fun= lambda x,y:x
fun(10,20)

10

In [32]:
fun= lambda x,y:(x,y)
fun(10,20)

(10, 20)

In [38]:
students=[['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda students:students[1])
print(students)

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

In [39]:
students=[['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda students:students[1]+students[2])
print(students)

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

In [40]:
numbers=['10','30','60']
result=[]
for i in numbers:
    result.append(int(i))
result

[10, 30, 60]

# Map
     map(function,collection)

In [43]:
numbers=['10','30','60']
s=map(int,numbers)
list(s)

[10, 30, 60]

In [44]:
marks=['10','30','60']
list(map(lambda x:int(x)+30,marks))

[40, 60, 90]

### all()

In [45]:
marks=[10,20,30,0]
all(marks)

False

In [46]:
marks=[10,20,30,100]
all(marks)

True

In [47]:
bool(10)

True

In [48]:
bool(0)

False

### any()

In [49]:
any(marks)

True

## filter(function,collection)

In [52]:
marks=[10,20,30,0,200]
s=filter(None,marks)
list(s)

[10, 20, 30, 200]

In [55]:
students=[['sai',10],['sunny',30],['ramu',50]]
list(filter(lambda x:x[1]<=30,students))

[['sai', 10], ['sunny', 30]]

In [59]:
students=[
    ['sai',{'maths':30,'english':50}],
    ['ram',{'english':100,'maths':100}],
    ['roja',{'maths':50,'english':40}]]
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'english': 100, 'maths': 100}]]