In [7]:
mylist=[10,100,300,400]
mylist.insert(0,mylist.pop(3))
mylist

[400, 10, 100, 300]

In [8]:
b=(1)
type(b)

int

In [9]:
b=(1,)
type(b)

tuple

In [10]:
d={'ram':100}
d['ram']+=20
d

{'ram': 120}

In [15]:
s='sai123ram345'
sum([int(i) for i in s if i.isdigit()])

18

In [21]:
s='sai 123 ram 345'
s=s.replace(' ','')
s

'sai123ram345'

In [24]:
s='sai 123 ram 345'
sum([int(i) for i in s.split(' ') if i.isdigit()])

468

In [29]:
s='sairam sailakshmi'           #SaIram SaIlakShmI
''.join([i.upper() if i=='s' or i=='i' else i for i in s])

'SaIram SaIlakShmI'

In [35]:
s={'name':'sai','branch':'cse'}
print('\n'.join([i+' '+s[i]+' ' for i in s]))

name sai
branch cse

In [36]:
y=[print(key,value) for key,value in s.items()]

name sai
branch cse

In [41]:
s=['sai','surya','ramu','lakshmi','sri']
sum([len(i) for i in s])

22

In [58]:
names=['sai','ram','lakshmi','srinu','indira','suresh']
groups={'A':[],'B':[]}

In [59]:
import re

In [61]:
for name in names:
    if re.search('a',name):
        groups['A'].append(name)
    else:
        groups['B'].append(name)
print(groups)

{'A': ['sai', 'ram', 'lakshmi', 'indira'], 'B': ['srinu', 'suresh']}

In [68]:
print(1,10,30,50)

1 10 30 50

In [69]:
print(1,'\n',10,'\n',30,'\n',50)

1
 10
 30
 50

In [70]:
print(1,10,30,50,sep='\n')

1
10
30
50

In [73]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [74]:
2 and 3

3

In [75]:
0 or 3

3

In [76]:
0 and 3

0

In [83]:
s=['abc','cab','bca','xyd','bca']
s.sort(key=lambda s:s[2])
s

['bca', 'bca', 'cab', 'abc', 'xyd']

#### take the data everytime until user gives DONE print minimum and max number

In [ ]:
while True:
    n=input()
    for i in n:
        if i=='DONE':
            continue
print(min(n))
print(max(n))

In [5]:
x=[]
while True:
    n=input()
    if(n.isdigit()):
        x.append(int(n))    
    if n=='DONE':
        break
if len(x)>0:
    print(min(x),max(x))
else:
    print("please give numbers")

deepika
10
20
30
deepu
53
DONE
10 53

In [16]:
import re
s='ram123s7ai345'
sum(list(map(int,re.findall('\d+',s))))

475

In [14]:
sum[int(each) for each in str(''.join([e if e.isdigit() else ' ' for e in s])).split()

SyntaxError: invalid syntax (<ipython-input-14-14c128715c13>, line 1)

In [19]:
import re
s='ram123s7ai145'
sum(list(map(int,re.findall('1\d+',s))))

268