In [1]:
import pandas as pd

In [16]:
animals=['tiger','lion','mouse']
s=pd.Series(animals)

In [8]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
print(s.name)

None

In [10]:
s.name='Animals'

In [11]:
s.name

'Animals'

In [13]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [14]:
animals=['tiger','lion',None]
pd.Series(animals)

0    tiger
1     lion
2     None
dtype: object

In [17]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

NaN ------- Not a Number

In [3]:
import numpy as np

In [20]:
np.NaN==None

False

In [21]:
np.nan==np.nan

False

In [22]:
None==None

True

In [23]:
np.isnan(np.nan)

True

In [25]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [26]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [28]:
s=pd.Series(['tiger','bear','mouse'],index=['india','us','Canada'])
s

india     tiger
us         bear
Canada    mouse
dtype: object

In [30]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports,index=['Golf','Sumo','Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Querying a series

In [32]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [33]:
s.iloc[3]

'South Korea'

In [34]:
s.loc['Golf']

'Scotland'

In [35]:
s[3]

'South Korea'

In [38]:
sports={99:'Bhutan',
        100:'Scotland',
        101:'Japan',
        102:'South Korea'}
s=pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [39]:
s.iloc[0]

'Bhutan'

In [40]:
s.loc[99]

'Bhutan'

In [43]:
s[0]          # ------------------#it uses loc

KeyError: 0

In [44]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [46]:
for i in s:
    print(i)

100.0
120.0
101.0
3.0

In [47]:
total=0
for item in s:
    total+=item
print(total)

324.0

In [48]:
import numpy as mp
total=np.sum(s)
print(total)

324.0

In [55]:
np.random.randint(0,1000,10000)

array([406, 910, 407, ..., 109, 440, 566])

In [56]:
s=np.random.randint(0,1000,10000)

In [57]:
len(s)

10000

In [60]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    602
1    899
2    355
3    795
4    863
dtype: int32

In [61]:
%%timeit -n 5                                      #magical function in jupyter notebook
summary=0
for i in s:
    summary+=item

1.93 ms ± 426 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [62]:
%%timeit -n 5
summary=np.sum(s)

262 µs ± 39.5 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [74]:
s+=2           ## adds two to each item in s using broadcasting
s.head()

0    620
1    917
2    373
3    813
4    881
dtype: int32

In [76]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    624
1    921
2    377
3    817
4    885
dtype: int32

In [77]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    921
2    377
3    817
4    885
dtype: int32

In [4]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

5.18 s ± 75.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 38.59 times longer than the fastest. This could mean that an intermediate result is being cached.
2.08 ms ± 4.24 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [1]:
import pandas as pd

In [2]:
original_sports=pd.Series({'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'})
cricket_loving_countries=pd.Series(['Australia',
                                    'Barbados',
                                    'Pakistan',
                                    'England'],
                                  index=['Cricket',
                                        'Cricket',
                                        'Cricket',
                                        'Cricket',])
all_countries=original_sports.append(cricket_loving_countries)

In [3]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [4]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [5]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [6]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [8]:
all_countries[4]='australia'
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

### Dataframe data structure

In [13]:
import pandas as pd
purchase_1=pd.Series(
    {'Name':'Chris',
    'Item Purchased':'Dog food',
    'Cost':22.50})
purchase_2=pd.Series({'Name':'Kevyn',
                     'Item Purchased':'Kitty Litter',
                     'Cost':2.50})
purchase_3=pd.Series({'Name':'Vinod',
                     'Item Purchased':'Bird Seed',
                     'Cost':5.00})
df=pd.DataFrame([purchase_1,purchase_2,purchase_3],
               index=['Store 1','Store 1','Store 3'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [15]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [16]:
df.loc['Store 3']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 3, dtype: object

In [17]:
df.loc['Store 1','Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [18]:
df.T

                 Store 1       Store 1    Store 3
Name               Chris         Kevyn      Vinod
Item Purchased  Dog food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [19]:
df.T.loc['Item Purchased']

Store 1        Dog food
Store 1    Kitty Litter
Store 3       Bird Seed
Name: Item Purchased, dtype: object

In [20]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [21]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 3     5.0
Name: Cost, dtype: float64

In [25]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [26]:
df.loc[:,['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 3  Vinod   5.0

In [27]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 3  Vinod      Bird Seed   5.0

In [28]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [29]:
copy_df=df.copy()
copy_df=copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 3  Vinod      Bird Seed   5.0

In [31]:
copy_df=df.copy()
copy_df.drop('Store 1',inplace=True)           #When changes should be updated in original dataframe
copy_df

          Name Item Purchased  Cost
Store 3  Vinod      Bird Seed   5.0

In [32]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 3      Bird Seed   5.0

In [33]:
df['Location']=None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 3  Vinod      Bird Seed   5.0     None

In [34]:
df['State']=['ap','tg','delhi']
df

          Name Item Purchased  Cost Location  State
Store 1  Chris       Dog food  22.5     None     ap
Store 1  Kevyn   Kitty Litter   2.5     None     tg
Store 3  Vinod      Bird Seed   5.0     None  delhi

#### update delhi with mumbai

In [40]:
df.loc['Store 3','State']='mumbai'
df

          Name Item Purchased  Cost Location   State
Store 1  Chris       Dog food  22.5     None      ap
Store 1  Kevyn   Kitty Litter   2.5     None      tg
Store 3  Vinod      Bird Seed   5.0     None  mumbai

In [41]:
df['State']['store 2']='Mumbai'
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

          Name Item Purchased  Cost Location   State
Store 1  Chris       Dog food  22.5     None      ap
Store 1  Kevyn   Kitty Litter   2.5     None      tg
Store 3  Vinod      Bird Seed   5.0     None  mumbai

####  Dataframe Indexing and Loading

In [42]:
costs=df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 3     5.0
Name: Cost, dtype: float64

In [43]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 3     7.0
Name: Cost, dtype: float64

In [95]:
df=pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [58]:
df=pd.read_csv('olympics.csv',index_col=0,skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [59]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [60]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]},inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]},inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]},inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]},inplace=True)
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [50]:
df['Gold']

                                              Gold  Gold
Afghanistan (AFG)                                0     2
Algeria (ALG)                                    5     8
Argentina (ARG)                                 18    28
Armenia (ARM)                                    1     9
Australasia (ANZ) [ANZ]                          3     5
Australia (AUS) [AUS] [Z]                      139   177
Austria (AUT)                                   18    35
Azerbaijan (AZE)                                 6    15
Bahamas (BAH)                                    5     5
Bahrain (BRN)                                    0     1
Barbados (BAR) [BAR]                             0     1
Belarus (BLR)                                   12    39
Belgium (BEL)                                   37    53
Bermuda (BER)                                    0     1
Bohemia (BOH) [BOH] [Z]                          0     3
Botswana (BOT)                                   0     0
Brazil (BRA)                                    23    55
British West Indies (BWI) [BWI]                  0     2
Bulgaria (BUL) [H]                              51    78
Burundi (BDI)                                    1     0
Cameroon (CMR)                                   3     1
Canada (CAN)                                    59   121
Chile (CHI) [I]                                  2     4
China (CHN) [CHN]                              201   126
Colombia (COL)                                   2    11
Costa Rica (CRC)                                 1     2
Ivory Coast (CIV) [CIV]                          0     0
Croatia (CRO)                                    6    10
Cuba (CUB) [Z]                                  72    70
Cyprus (CYP)                                     0     0
...                                            ...   ...
Sri Lanka (SRI) [SRI]                            0     0
Sudan (SUD)                                      0     0
Suriname (SUR) [E]                               1     1
Sweden (SWE) [Z]                               143   176
Switzerland (SUI)                               47    65
Syria (SYR)                                      1     1
Chinese Taipei (TPE) [TPE] [TPE2]                2    12
Tajikistan (TJK)                                 0     2
Tanzania (TAN) [TAN]                             0     0
Thailand (THA)                                   7    11
Togo (TOG)                                       0     1
Tonga (TGA)                                      0     0
Trinidad and Tobago (TRI) [TRI]                  2    11
Tunisia (TUN)                                    3     4
Turkey (TUR)                                    39    24
Uganda (UGA)                                     2     2
Ukraine (UKR)                                   33    55
United Arab Emirates (UAE)                       1     0
United States (USA) [P] [Q] [R] [Z]            976   666
Uruguay (URU)                                    2     6
Uzbekistan (UZB)                                 5    10
Venezuela (VEN)                                  2     8
Vietnam (VIE)                                    0     0
Virgin Islands (ISV)                             0     0
Yugoslavia (YUG) [YUG]                          26    28
Independent Olympic Participants (IOP) [IOP]     0     2
Zambia (ZAM) [ZAM]                               0     1
Zimbabwe (ZIM) [ZIM]                             3     1
Mixed team (ZZX) [ZZX]                           8     4
Totals                                        4809  5130

[147 rows x 2 columns]

In [63]:
len(df['Gold']>=1)

147

In [65]:
df['Gold']>0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [64]:
only_gold=df.where(df['Gold']>0)
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [66]:
only_gold['Gold'].count()

100

In [67]:
only_gold=only_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [99]:
only_gold=df[df['Gold']>0]
only_gold.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Gold
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,1
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,2
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,3
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,4
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,5

### find the count of countries who got atleast 1 silver medals in either summer or winter?

In [72]:
df[df['Silver.2']>=1]['Silver.2'].count()

126

In [73]:
len(df[(df['Gold']>0)|(df['Gold.1']>0)])

101

#### find countries which got atleast 1 gold medal in winter and not got medal in summer

In [101]:
df[(df['Gold.1']>0)&(df['Gold']==0)]

KeyError: 'Gold.1'

In [109]:
df['country']=df.index
df.set_index('Gold').head()

KeyError: 'Gold'

In [100]:
df=df.reset_index()
df.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Gold
0,0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total,0
1,1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,1
2,2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,2
3,3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,3
4,4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,4

### Question 1:     What is the first country in df?
                    This function should return a Series.

In [83]:
df.loc[0]

index             Afghanistan (AFG)
# Summer                         13
Gold                              0
Silver                            0
Bronze                            2
Total                             2
# Winter                          0
Gold.1                            0
Silver.1                          0
Bronze.1                          0
Total.1                           0
# Games                          13
Gold.2                            0
Silver.2                          0
Bronze.2                          2
Combined total                    2
country           Afghanistan (AFG)
Name: 0, dtype: object

#### Question 2:  Which country has won the most gold medals in summer games?
                 This function should return a single string value.

In [93]:
highest_Goldmedal=max(df['Gold'])
highest_Goldmedal

4809

In [92]:
df

,index,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
8,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
14,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
17,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
20,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
22,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
24,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
25,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
119,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
122,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
124,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
129,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
130,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
132,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
136,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
137,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
138,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
139,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [91]:
def answer_one():
    highest_Goldmedal=max(df['Gold'])
    name=df[df['Gold']==highest_Goldmedal].index[0]
    return str(name)
answer_one()

'146'

In [3]:

import pandas as pd
df=pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [3]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [4]:
df=df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [105]:
df['SUMLEV']

1       50
2       50
3       50
4       50
5       50
6       50
7       50
8       50
9       50
10      50
11      50
12      50
13      50
14      50
15      50
16      50
17      50
18      50
19      50
20      50
21      50
22      50
23      50
24      50
25      50
26      50
27      50
28      50
29      50
30      50
        ..
3162    50
3163    50
3164    50
3165    50
3166    50
3167    50
3168    50
3170    50
3171    50
3172    50
3173    50
3174    50
3175    50
3176    50
3177    50
3178    50
3179    50
3180    50
3181    50
3182    50
3183    50
3184    50
3185    50
3186    50
3187    50
3188    50
3189    50
3190    50
3191    50
3192    50
Name: SUMLEV, Length: 3142, dtype: int64

In [106]:
df[['SUMLEV','STATE','COUNTY']]

      SUMLEV  STATE  COUNTY
1         50      1       1
2         50      1       3
3         50      1       5
4         50      1       7
5         50      1       9
6         50      1      11
7         50      1      13
8         50      1      15
9         50      1      17
10        50      1      19
11        50      1      21
12        50      1      23
13        50      1      25
14        50      1      27
15        50      1      29
16        50      1      31
17        50      1      33
18        50      1      35
19        50      1      37
20        50      1      39
21        50      1      41
22        50      1      43
23        50      1      45
24        50      1      47
25        50      1      49
26        50      1      51
27        50      1      53
28        50      1      55
29        50      1      57
30        50      1      59
...      ...    ...     ...
3162      50     55     129
3163      50     55     131
3164      50     55     133
3165      50     55     135
3166      50     55     137
3167      50     55     139
3168      50     55     141
3170      50     56       1
3171      50     56       3
3172      50     56       5
3173      50     56       7
3174      50     56       9
3175      50     56      11
3176      50     56      13
3177      50     56      15
3178      50     56      17
3179      50     56      19
3180      50     56      21
3181      50     56      23
3182      50     56      25
3183      50     56      27
3184      50     56      29
3185      50     56      31
3186      50     56      33
3187      50     56      35
3188      50     56      37
3189      50     56      39
3190      50     56      41
3191      50     56      43
3192      50     56      45

[3142 rows x 3 columns]

In [117]:
df

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Autauga County          50       3         6      1       1
          Baldwin County          50       3         6      1       3
          Barbour County          50       3         6      1       5
          Bibb County             50       3         6      1       7
          Blount County           50       3         6      1       9
          Bullock County          50       3         6      1      11
          Butler County           50       3         6      1      13
          Calhoun County          50       3         6      1      15
          Chambers County         50       3         6      1      17
          Cherokee County         50       3         6      1      19
          Chilton County          50       3         6      1      21
          Choctaw County          50       3         6      1      23
          Clarke County           50       3         6      1      25
          Clay County             50       3         6      1      27
          Cleburne County         50       3         6      1      29
          Coffee County           50       3         6      1      31
          Colbert County          50       3         6      1      33
          Conecuh County          50       3         6      1      35
          Coosa County            50       3         6      1      37
          Covington County        50       3         6      1      39
          Crenshaw County         50       3         6      1      41
          Cullman County          50       3         6      1      43
          Dale County             50       3         6      1      45
          Dallas County           50       3         6      1      47
          DeKalb County           50       3         6      1      49
          Elmore County           50       3         6      1      51
          Escambia County         50       3         6      1      53
          Etowah County           50       3         6      1      55
          Fayette County          50       3         6      1      57
          Franklin County         50       3         6      1      59
...                              ...     ...       ...    ...     ...
Wisconsin Washburn County         50       2         3     55     129
          Washington County       50       2         3     55     131
          Waukesha County         50       2         3     55     133
          Waupaca County          50       2         3     55     135
          Waushara County         50       2         3     55     137
          Winnebago County        50       2         3     55     139
          Wood County             50       2         3     55     141
Wyoming   Albany County           50       4         8     56       1
          Big Horn County         50       4         8     56       3
          Campbell County         50       4         8     56       5
          Carbon County           50       4         8     56       7
          Converse County         50       4         8     56       9
          Crook County            50       4         8     56      11
          Fremont County          50       4         8     56      13
          Goshen County           50       4         8     56      15
          Hot Springs County      50       4         8     56      17
          Johnson County          50       4         8     56      19
          Laramie County          50       4         8     56      21
          Lincoln County          50       4         8     56      23
          Natrona County          50       4         8     56      25
          Niobrara County         50       4         8     56      27
          Park County             50       4         8     56      29
          Platte County           50       4         8     56      31
          Sheridan County         50       4         8     56      33
          Sublette County         50       4         8     56      35
          Sweetwater County       50       4         8     56      37
          Teton County            50       4         8     56      39
          Uinta County            50       4         8     56      41
          Washakie County         50       4         8     56      43
          Weston County           50       4         8     56      45

                              CENSUS2010POP  ESTIMATESBASE2010  \
STNAME    CTYNAME
Alabama   Autauga County              54571              54571
          Baldwin County             182265             182265
          Barbour County              27457              27457
          Bibb County                 22915              22919
          Blount County               57322              57322
          Bullock County              10914              10915
          Butler County               20947              20946
          Calhoun County             118572             118586
          Chambers County             34215              34170
          Cherokee County             25989              25986
          Chilton County              43643              43631
          Choctaw County              13859              13858
          Clarke County               25833              25840
          Clay County                 13932              13932
          Cleburne County             14972              14972
          Coffee County               49948              49948
          Colbert County              54428              54428
          Conecuh County              13228              13228
          Coosa County                11539              11758
          Covington County            37765              37765
          Crenshaw County             13906              13906
          Cullman County              80406              80410
          Dale County                 50251              50251
          Dallas County               43820              43820
          DeKalb County               71109              71115
          Elmore County               79303              79296
          Escambia County             38319              38319
          Etowah County              104430             104427
          Fayette County              17241              17241
          Franklin County             31704              31709
...                                     ...                ...
Wisconsin Washburn County             15911              15911
          Washington County          131887             131885
          Waukesha County            389891             389938
          Waupaca County              52410              52410
          Waushara County             24496              24496
          Winnebago County           166994             166994
          Wood County                 74749              74749
Wyoming   Albany County               36299              36299
          Big Horn County             11668              11668
          Campbell County             46133              46133
          Carbon County               15885              15885
          Converse County             13833              13833
          Crook County                 7083               7083
          Fremont County              40123              40123
          Goshen County               13249              13247
          Hot Springs County           4812               4812
          Johnson County               8569               8569
          Laramie County              91738              91881
          Lincoln County              18106              18106
          Natrona County              75450              75450
          Niobrara County              2484               2484
          Park County                 28205              28205
          Platte County                8667               8667
          Sheridan County             29116              29116
          Sublette County             10247              10247
          Sweetwater County           43806              43806
          Teton County                21294              21294
          Uinta County                21118              21118
          Washakie County              8533               8533
          Weston County                7208               7208

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Autauga County                54660            55253
          Baldwin County               183193           186659
          Barbour County                27341            27226
          Bibb County                   22861            22733
          Blount County                 57373            57711
          Bullock County                10887            10629
          Butler County                 20944            20673
          Calhoun County               118437           117768
          Chambers County               34098            33993
          Cherokee County               25976            26080
          Chilton County                43665            43739
          Choctaw County                13841            13593
          Clarke County                 25767            25570
          Clay County                   13880            13670
          Cleburne County               14973            14971
          Coffee County                 50177            50448
          Colbert County                54514            54443
          Conecuh County                13208            13121
          Coosa County                  11758            11348
          Covington County              37796            38060
          Crenshaw County               13853            13896
          Cullman County                80473            80469
          Dale County                   50358            50109
          Dallas County                 43803            43178
          DeKalb County                 71142            71387
          Elmore County                 79465            80012
          Escambia County               38309            38213
          Etowah County                104442           104236
          Fayette County                17231            17062
          Franklin County               31734            31729
...                                       ...              ...
Wisconsin Washburn County               15930            15784
          Washington County            131967           132225
          Waukesha County              390076           390808
          Waupaca County                52422            52342
          Waushara County               24506            24581
          Winnebago County             167059           167630
          Wood County                   74807            74647
Wyoming   Albany County                 36428            36908
          Big Horn County               11672            11745
          Campbell County               46244            46600
          Carbon County                 15837            15817
          Converse County               13826            13728
          Crook County                   7114             7129
          Fremont County                40222            40591
          Goshen County                 13408            13597
          Hot Springs County             4813             4818
          Johnson County                 8581             8636
          Laramie County                92271            92663
          Lincoln County                18091            18022
          Natrona County                75472            76420
          Niobrara County                2492             2485
          Park County                   28259            28473
          Platte County                  8678             8701
          Sheridan County               29146            29275
          Sublette County               10244            10142
          Sweetwater County             43593            44041
          Teton County                  21297            21482
          Uinta County                  21102            20912
          Washakie County                8545             8469
          Weston County                  7181             7114

                              POPESTIMATE2012  ...  RDOMESTICMIG2012  \
STNAME    CTYNAME                              ...
Alabama   Autauga County                55175  ...         -2.915927
          Baldwin County               190396  ...         17.647293
          Barbour County                27159  ...         -2.500690
          Bibb County                   22642  ...         -5.068871
          Blount County                 57776  ...         -1.177622
          Bullock County                10606  ...         -5.180127
          Butler County                 20408  ...        -11.684234
          Calhoun County               117286  ...         -4.611706
          Chambers County               34075  ...          3.849092
          Cherokee County               26023  ...          1.113180
          Chilton County                43697  ...         -2.653369
          Choctaw County                13543  ...         -0.737028
          Clarke County                 25144  ...        -17.667705
          Clay County                   13456  ...        -13.345130
          Cleburne County               14921  ...         -5.151880
          Coffee County                 51173  ...          7.675579
          Colbert County                54472  ...          1.065051
          Conecuh County                12996  ...         -7.504690
          Coosa County                  11195  ...        -10.291443
          Covington County              37818  ...         -4.612668
          Crenshaw County               13951  ...          3.950156
          Cullman County                80374  ...         -1.019628
          Dale County                   50324  ...         -5.277150
          Dallas County                 42777  ...        -11.308243
          DeKalb County                 70942  ...         -9.302391
          Elmore County                 80432  ...          0.822717
          Escambia County               38034  ...         -3.855889
          Etowah County                104235  ...          2.062637
          Fayette County                16960  ...         -0.646640
          Franklin County               31648  ...         -5.459394
...                                       ...  ...               ...
Wisconsin Washburn County               15831  ...          7.338289
          Washington County            132649  ...          0.785279
          Waukesha County              392710  ...          2.128860
          Waupaca County                52035  ...         -2.241873
          Waushara County               24484  ...         -2.404973
          Winnebago County             168717  ...          2.889873
          Wood County                   74384  ...         -5.019090
Wyoming   Albany County                 37396  ...          2.637812
          Big Horn County               11785  ...          2.804930
          Campbell County               47881  ...         15.601020
          Carbon County                 15678  ...        -13.081441
          Converse County               14025  ...         15.493820
          Crook County                   7148  ...         -4.202564
          Fremont County                41129  ...          7.782673
          Goshen County                 13666  ...          3.961413
          Hot Springs County             4846  ...          6.208609
          Johnson County                 8610  ...         -4.058912
          Laramie County                94894  ...         15.547274
          Lincoln County                17943  ...        -11.566801
          Natrona County                78699  ...         23.066162
          Niobrara County                2475  ...          0.806452
          Park County                   28863  ...          8.057765
          Platte County                  8732  ...          5.392073
          Sheridan County               29594  ...          8.425487
          Sublette County               10418  ...         15.272374
          Sweetwater County             45104  ...         16.243199
          Teton County                  21697  ...          0.972695
          Uinta County                  20989  ...         -4.916350
          Washakie County                8443  ...         -0.827815
          Weston County                  7065  ...         -8.040059

                              RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME    CTYNAME
Alabama   Autauga County             -3.012349          2.265971
          Baldwin County             21.845705         19.243287
          Barbour County             -7.056824         -3.904217
          Bibb County                -6.201001         -0.177537
          Blount County              -1.748766         -2.062535
          Bullock County             -1.130263         14.354290
          Butler County              -5.655413          1.085428
          Calhoun County             -5.524649         -4.463211
          Chambers County             2.872721         -2.287222
          Cherokee County             5.488706         -0.076806
          Chilton County              0.480044          0.456017
          Choctaw County             -8.766391         -1.274984
          Clarke County              -0.318345         -8.686428
          Clay County                 4.902871          5.702648
          Cleburne County             7.345821          3.654485
          Coffee County             -13.146535         -3.602859
          Colbert County              1.762390          1.835688
          Conecuh County             -6.107224        -14.645416
          Coosa County               -4.313831        -22.958017
          Covington County            0.740271          3.697932
          Crenshaw County            -1.864936          3.084648
          Cullman County              4.071247          5.087142
          Dale County               -15.236079        -11.979785
          Dallas County             -16.745678         -9.344789
          DeKalb County              -1.748807          0.267830
          Elmore County               1.760531         -1.507057
          Escambia County            -4.822706         -1.189831
          Etowah County              -1.931884         -1.726932
          Fayette County             -3.725937          0.296745
          Franklin County            -8.043702         -1.267849
...                                        ...               ...
Wisconsin Washburn County            -6.732724          3.510452
          Washington County          -2.215465          1.601149
          Waukesha County             0.038132          0.760109
          Waupaca County              6.292687         -0.441031
          Waushara County            -4.097017         -4.906711
          Winnebago County            0.833819         -2.406192
          Wood County                -6.901200         -5.596471
Wyoming   Albany County              -3.544634         -3.334877
          Big Horn County            16.815908         -8.026420
          Campbell County            -5.895711         -8.550911
          Carbon County               3.178134         -2.970641
          Converse County            19.035533        -20.550587
          Crook County                1.397819          6.378258
          Fremont County             -4.990688        -12.331633
          Goshen County              -8.079028         -7.017803
          Hot Springs County          3.095336         -6.017222
          Johnson County             -0.812583        -10.715742
          Laramie County              4.787847         -1.226133
          Lincoln County             13.564556          6.125989
          Natrona County             24.322042         -0.958472

In [114]:
df=df.set_index(['STNAME','CTYNAME'])
df.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County         -2.915927         -3.012349          2.265971
        Baldwin County         17.647293         21.845705         19.243287
        Barbour County         -2.500690         -7.056824         -3.904217
        Bibb County            -5.068871         -6.201001         -0.177537
        Blount County          -1.177622         -1.748766         -2.062535

                        RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County         -2.530799     7.606016    -2.626146
        Baldwin County         17.197872    15.844176    18.559627
        Barbour County        -10.543299    -4.874741    -2.758113
        Bibb County             0.177258    -5.088389    -4.363636
        Blount County          -1.369970     1.859511    -0.848580

                        RNETMIG2013  RNETMIG2014  RNETMIG2015  country
STNAME  CTYNAME
Alabama Autauga County    -2.722002     2.592270    -2.187333        1
        Baldwin County    22.727626    20.317142    18.293499        2
        Barbour County    -7.167664    -3.978583   -10.543299        3
        Bibb County       -5.403729     0.754533     1.107861        4
        Blount County     -1.402476    -1.577232    -0.884411        5

[5 rows x 99 columns]

In [115]:
df.loc['Alabama','Autauga County']

SUMLEV                      50.000000
REGION                       3.000000
DIVISION                     6.000000
STATE                        1.000000
COUNTY                       1.000000
CENSUS2010POP            54571.000000
ESTIMATESBASE2010        54571.000000
POPESTIMATE2010          54660.000000
POPESTIMATE2011          55253.000000
POPESTIMATE2012          55175.000000
POPESTIMATE2013          55038.000000
POPESTIMATE2014          55290.000000
POPESTIMATE2015          55347.000000
NPOPCHG_2010                89.000000
NPOPCHG_2011               593.000000
NPOPCHG_2012               -78.000000
NPOPCHG_2013              -137.000000
NPOPCHG_2014               252.000000
NPOPCHG_2015                57.000000
BIRTHS2010                 151.000000
BIRTHS2011                 636.000000
BIRTHS2012                 615.000000
BIRTHS2013                 574.000000
BIRTHS2014                 623.000000
BIRTHS2015                 600.000000
DEATHS2010                 152.000000
DEATHS2011                 507.000000
DEATHS2012                 558.000000
DEATHS2013                 583.000000
DEATHS2014                 504.000000
                             ...
RBIRTH2012                  11.138479
RBIRTH2013                  10.416194
RBIRTH2014                  11.293597
RBIRTH2015                  10.846281
RDEATH2011                   9.225478
RDEATH2012                  10.106133
RDEATH2013                  10.579514
RDEATH2014                   9.136393
RDEATH2015                   8.442022
RNATURALINC2011              2.347311
RNATURALINC2012              1.032347
RNATURALINC2013             -0.163320
RNATURALINC2014              2.157204
RNATURALINC2015              2.404259
RINTERNATIONALMIG2011        0.363924
RINTERNATIONALMIG2012        0.289782
RINTERNATIONALMIG2013        0.290347
RINTERNATIONALMIG2014        0.326300
RINTERNATIONALMIG2015        0.343466
RDOMESTICMIG2011             7.242091
RDOMESTICMIG2012            -2.915927
RDOMESTICMIG2013            -3.012349
RDOMESTICMIG2014             2.265971
RDOMESTICMIG2015            -2.530799
RNETMIG2011                  7.606016
RNETMIG2012                 -2.626146
RNETMIG2013                 -2.722002
RNETMIG2014                  2.592270
RNETMIG2015                 -2.187333
country                      1.000000
Name: (Alabama, Autauga County), Length: 99, dtype: float64

In [116]:
df.loc[[('Alabama','Autauga County'),('Alabama','Baldwin County')]]

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...

                        RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County         -2.915927         -3.012349          2.265971
        Baldwin County         17.647293         21.845705         19.243287

                        RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County         -2.530799     7.606016    -2.626146
        Baldwin County         17.197872    15.844176    18.559627

                        RNETMIG2013  RNETMIG2014  RNETMIG2015  country
STNAME  CTYNAME
Alabama Autauga County    -2.722002     2.592270    -2.187333        1
        Baldwin County    22.727626    20.317142    18.293499        2

[2 rows x 99 columns]

In [5]:
census_df['STNAME'].unique()

NameError: name 'census_df' is not defined

In [ ]:
mask=census_df['STNAME']=='Alabama'
len(census_df[mask]())

In [7]:
def answer_five():
    return df[df['SUMLEV']==50]['STNAME'].value_counts().argmax()
answer_five()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Texas'

In [10]:
mask=df['SUMLEV']==50
df[mask][['STNAME','CTYNAME','CENSUS2010POP']].sort_values('CENSUS2010POP',ascending=False).head()

          STNAME             CTYNAME  CENSUS2010POP
209   California  Los Angeles County        9818605
624     Illinois         Cook County        5194675
2667       Texas       Harris County        4092459
106      Arizona     Maricopa County        3817117
227   California    San Diego County        3095313

In [7]:
def answer_six():
    states=list(df['STNAME'].unique())
    mask=df['SUMLEV']==50
    filter_df=df[mask][['STNAME','CTYNAME','CENSUS2010POP']]
    myList=[]
    for state in states:
        mask=filter_df['STNAME']==state
        frame=filter_df[mask]
        top3=frame.sort_values('CENSUS2010POP',ascending=False)[:3]
        myList.append([sum(top3['CENSUS2010POP']),state])
    myList.sort(reverse=True)
    result=[item[1] for item in myList[:3]]
    return result
answer_six()

['California', 'Texas', 'Illinois']

In [12]:
def answer_six1():
    df1=df[df['SUMLEV']==50].copy()
    top3_df1=pd.DataFrame(columns=['CENSUS'])
    for group,frame in df1.groupby(['STNAME']):
        total=frame.sort_values('CENSUS2010POP',ascending=False)[:3]['CENSUS2010POP'].sum()
        top3_df1.loc[group]=total
    return list(top3_df1.sort_values('CENSUS',ascending=False)[:3].index)

In [13]:
answer_six1()

['California', 'Texas', 'Illinois']

In [16]:
import pandas as pd
census_df=pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [18]:
def answer_seven():
    mask=census_df['SUMLEV']==50
    df=census_df[mask].copy()
    df=df.set_index(['STNAME','CTYNAME'])
    df=df[
        [
            'POPESTIMATE2010','POPESTIMATE2011',
            'POPESTIMATE2012','POPESTIMATE2013',
            'POPESTIMATE2014','POPESTIMATE2015'
        ]
    ]
    df['max_pop']=df.max(axis=1)
    df['min_pop']=df.min(axis=1)
    df['diff_pop']=df['max_pop']-df['min_pop']
    return df['diff_pop'].argmax()[1]
answer_seven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  from ipykernel import kernelapp as app

'Harris County'

In [20]:
mask=((census_df['REGION']==1)| (census_df['REGION']==2))
df=census_df[mask].copy()
mask2=df['POPESTIMATE2015']>df['POPESTIMATE2014']
df[df['CTYNAME'].str.startswith('Washington')][mask2][['STNAME','CTYNAME']].sort_index()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

### Missing values

In [118]:
df=pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [119]:
df.fillna?

In [120]:
df=df.set_index('time')
df=df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [122]:
df=df.reset_index()
df

    index        time    user          video  playback position paused  volume
0       0  1469974424  cheryl     intro.html                  5  False    10.0
1       1  1469974424     sue  advanced.html                 23  False    10.0
2       2  1469974454  cheryl     intro.html                  6    NaN     NaN
3       3  1469974454     sue  advanced.html                 24    NaN     NaN
4       4  1469974484  cheryl     intro.html                  7    NaN     NaN
5       5  1469974514  cheryl     intro.html                  8    NaN     NaN
6       6  1469974524     sue  advanced.html                 25    NaN     NaN
7       7  1469974544  cheryl     intro.html                  9    NaN     NaN
8       8  1469974554     sue  advanced.html                 26    NaN     NaN
9       9  1469974574  cheryl     intro.html                 10    NaN     NaN
10     10  1469974604  cheryl     intro.html                 11    NaN     NaN
11     11  1469974624     sue  advanced.html                 27    NaN     NaN
12     12  1469974634  cheryl     intro.html                 12    NaN     NaN
13     13  1469974654     sue  advanced.html                 28    NaN     5.0
14     14  1469974664  cheryl     intro.html                 13    NaN     NaN
15     15  1469974694  cheryl     intro.html                 14    NaN     NaN
16     16  1469974724  cheryl     intro.html                 15    NaN     NaN
17     17  1469974724     sue  advanced.html                 29    NaN     NaN
18     18  1469974754     sue  advanced.html                 30    NaN     NaN
19     19  1469974824     sue  advanced.html                 31    NaN     NaN
20     20  1469974854     sue  advanced.html                 32    NaN     NaN
21     21  1469974924     sue  advanced.html                 33    NaN     NaN
22     22  1469977424     bob     intro.html                  1   True    10.0
23     23  1469977454     bob     intro.html                  1    NaN     NaN
24     24  1469977484     bob     intro.html                  1    NaN     NaN
25     25  1469977514     bob     intro.html                  1    NaN     NaN
26     26  1469977544     bob     intro.html                  1    NaN     NaN
27     27  1469977574     bob     intro.html                  1    NaN     NaN
28     28  1469977604     bob     intro.html                  1    NaN     NaN
29     29  1469977634     bob     intro.html                  1    NaN     NaN
30     30  1469977664     bob     intro.html                  1    NaN     NaN
31     31  1469977694     bob     intro.html                  1    NaN     NaN
32     32  1469977724     bob     intro.html                  1    NaN     NaN

In [123]:
df=df.set_index(['time','user'])
df

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue         1  advanced.html                 23  False    10.0
1469974454 cheryl      2     intro.html                  6    NaN     NaN
           sue         3  advanced.html                 24    NaN     NaN
1469974484 cheryl      4     intro.html                  7    NaN     NaN
1469974514 cheryl      5     intro.html                  8    NaN     NaN
1469974524 sue         6  advanced.html                 25    NaN     NaN
1469974544 cheryl      7     intro.html                  9    NaN     NaN
1469974554 sue         8  advanced.html                 26    NaN     NaN
1469974574 cheryl      9     intro.html                 10    NaN     NaN
1469974604 cheryl     10     intro.html                 11    NaN     NaN
1469974624 sue        11  advanced.html                 27    NaN     NaN
1469974634 cheryl     12     intro.html                 12    NaN     NaN
1469974654 sue        13  advanced.html                 28    NaN     5.0
1469974664 cheryl     14     intro.html                 13    NaN     NaN
1469974694 cheryl     15     intro.html                 14    NaN     NaN
1469974724 cheryl     16     intro.html                 15    NaN     NaN
           sue        17  advanced.html                 29    NaN     NaN
1469974754 sue        18  advanced.html                 30    NaN     NaN
1469974824 sue        19  advanced.html                 31    NaN     NaN
1469974854 sue        20  advanced.html                 32    NaN     NaN
1469974924 sue        21  advanced.html                 33    NaN     NaN
1469977424 bob        22     intro.html                  1   True    10.0
1469977454 bob        23     intro.html                  1    NaN     NaN
1469977484 bob        24     intro.html                  1    NaN     NaN
1469977514 bob        25     intro.html                  1    NaN     NaN
1469977544 bob        26     intro.html                  1    NaN     NaN
1469977574 bob        27     intro.html                  1    NaN     NaN
1469977604 bob        28     intro.html                  1    NaN     NaN
1469977634 bob        29     intro.html                  1    NaN     NaN
1469977664 bob        30     intro.html                  1    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN

In [126]:
df.fillna('hi')

                   index          video  playback position paused volume
time       user
1469974424 cheryl      0     intro.html                  5  False     10
           sue         1  advanced.html                 23  False     10
1469974454 cheryl      2     intro.html                  6     hi     hi
           sue         3  advanced.html                 24     hi     hi
1469974484 cheryl      4     intro.html                  7     hi     hi
1469974514 cheryl      5     intro.html                  8     hi     hi
1469974524 sue         6  advanced.html                 25     hi     hi
1469974544 cheryl      7     intro.html                  9     hi     hi
1469974554 sue         8  advanced.html                 26     hi     hi
1469974574 cheryl      9     intro.html                 10     hi     hi
1469974604 cheryl     10     intro.html                 11     hi     hi
1469974624 sue        11  advanced.html                 27     hi     hi
1469974634 cheryl     12     intro.html                 12     hi     hi
1469974654 sue        13  advanced.html                 28     hi      5
1469974664 cheryl     14     intro.html                 13     hi     hi
1469974694 cheryl     15     intro.html                 14     hi     hi
1469974724 cheryl     16     intro.html                 15     hi     hi
           sue        17  advanced.html                 29     hi     hi
1469974754 sue        18  advanced.html                 30     hi     hi
1469974824 sue        19  advanced.html                 31     hi     hi
1469974854 sue        20  advanced.html                 32     hi     hi
1469974924 sue        21  advanced.html                 33     hi     hi
1469977424 bob        22     intro.html                  1   True     10
1469977454 bob        23     intro.html                  1     hi     hi
1469977484 bob        24     intro.html                  1     hi     hi
1469977514 bob        25     intro.html                  1     hi     hi
1469977544 bob        26     intro.html                  1     hi     hi
1469977574 bob        27     intro.html                  1     hi     hi
1469977604 bob        28     intro.html                  1     hi     hi
1469977634 bob        29     intro.html                  1     hi     hi
1469977664 bob        30     intro.html                  1     hi     hi
1469977694 bob        31     intro.html                  1     hi     hi
1469977724 bob        32     intro.html                  1     hi     hi

In [129]:
df.head()

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue         1  advanced.html                 23  False    10.0
1469974454 cheryl      2     intro.html                  6    NaN     NaN
           sue         3  advanced.html                 24    NaN     NaN
1469974484 cheryl      4     intro.html                  7    NaN     NaN

In [127]:
df.fillna(method='ffill').head()

                   index          video  playback position  paused  volume
time       user
1469974424 cheryl      0     intro.html                  5   False    10.0
           sue         1  advanced.html                 23   False    10.0
1469974454 cheryl      2     intro.html                  6   False    10.0
           sue         3  advanced.html                 24   False    10.0
1469974484 cheryl      4     intro.html                  7   False    10.0

In [130]:
df

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue         1  advanced.html                 23  False    10.0
1469974454 cheryl      2     intro.html                  6    NaN     NaN
           sue         3  advanced.html                 24    NaN     NaN
1469974484 cheryl      4     intro.html                  7    NaN     NaN
1469974514 cheryl      5     intro.html                  8    NaN     NaN
1469974524 sue         6  advanced.html                 25    NaN     NaN
1469974544 cheryl      7     intro.html                  9    NaN     NaN
1469974554 sue         8  advanced.html                 26    NaN     NaN
1469974574 cheryl      9     intro.html                 10    NaN     NaN
1469974604 cheryl     10     intro.html                 11    NaN     NaN
1469974624 sue        11  advanced.html                 27    NaN     NaN
1469974634 cheryl     12     intro.html                 12    NaN     NaN
1469974654 sue        13  advanced.html                 28    NaN     5.0
1469974664 cheryl     14     intro.html                 13    NaN     NaN
1469974694 cheryl     15     intro.html                 14    NaN     NaN
1469974724 cheryl     16     intro.html                 15    NaN     NaN
           sue        17  advanced.html                 29    NaN     NaN
1469974754 sue        18  advanced.html                 30    NaN     NaN
1469974824 sue        19  advanced.html                 31    NaN     NaN
1469974854 sue        20  advanced.html                 32    NaN     NaN
1469974924 sue        21  advanced.html                 33    NaN     NaN
1469977424 bob        22     intro.html                  1   True    10.0
1469977454 bob        23     intro.html                  1    NaN     NaN
1469977484 bob        24     intro.html                  1    NaN     NaN
1469977514 bob        25     intro.html                  1    NaN     NaN
1469977544 bob        26     intro.html                  1    NaN     NaN
1469977574 bob        27     intro.html                  1    NaN     NaN
1469977604 bob        28     intro.html                  1    NaN     NaN
1469977634 bob        29     intro.html                  1    NaN     NaN
1469977664 bob        30     intro.html                  1    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN

In [132]:
df.fillna(method='bfill')

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
           sue         1  advanced.html                 23  False    10.0
1469974454 cheryl      2     intro.html                  6   True     5.0
           sue         3  advanced.html                 24   True     5.0
1469974484 cheryl      4     intro.html                  7   True     5.0
1469974514 cheryl      5     intro.html                  8   True     5.0
1469974524 sue         6  advanced.html                 25   True     5.0
1469974544 cheryl      7     intro.html                  9   True     5.0
1469974554 sue         8  advanced.html                 26   True     5.0
1469974574 cheryl      9     intro.html                 10   True     5.0
1469974604 cheryl     10     intro.html                 11   True     5.0
1469974624 sue        11  advanced.html                 27   True     5.0
1469974634 cheryl     12     intro.html                 12   True     5.0
1469974654 sue        13  advanced.html                 28   True     5.0
1469974664 cheryl     14     intro.html                 13   True    10.0
1469974694 cheryl     15     intro.html                 14   True    10.0
1469974724 cheryl     16     intro.html                 15   True    10.0
           sue        17  advanced.html                 29   True    10.0
1469974754 sue        18  advanced.html                 30   True    10.0
1469974824 sue        19  advanced.html                 31   True    10.0
1469974854 sue        20  advanced.html                 32   True    10.0
1469974924 sue        21  advanced.html                 33   True    10.0
1469977424 bob        22     intro.html                  1   True    10.0
1469977454 bob        23     intro.html                  1    NaN     NaN
1469977484 bob        24     intro.html                  1    NaN     NaN
1469977514 bob        25     intro.html                  1    NaN     NaN
1469977544 bob        26     intro.html                  1    NaN     NaN
1469977574 bob        27     intro.html                  1    NaN     NaN
1469977604 bob        28     intro.html                  1    NaN     NaN
1469977634 bob        29     intro.html                  1    NaN     NaN
1469977664 bob        30     intro.html                  1    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN