In [2]:
import pandas as pd

In [16]:
animals=['tiger','lion','mouse']
s=pd.Series(animals)

In [8]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
print(s.name)

None

In [10]:
s.name='Animals'

In [11]:
s.name

'Animals'

In [13]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [14]:
animals=['tiger','lion',None]
pd.Series(animals)

0    tiger
1     lion
2     None
dtype: object

In [17]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

NaN ------- Not a Number

In [3]:
import numpy as np

In [20]:
np.NaN==None

False

In [21]:
np.nan==np.nan

False

In [22]:
None==None

True

In [23]:
np.isnan(np.nan)

True

In [25]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [26]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [28]:
s=pd.Series(['tiger','bear','mouse'],index=['india','us','Canada'])
s

india     tiger
us         bear
Canada    mouse
dtype: object

In [30]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports,index=['Golf','Sumo','Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Querying a series

In [32]:
sports={'Archery':'Bhutan',
       'Golf':'Scotland',
       'Sumo':'Japan',
       'Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [33]:
s.iloc[3]

'South Korea'

In [34]:
s.loc['Golf']

'Scotland'

In [35]:
s[3]

'South Korea'

In [38]:
sports={99:'Bhutan',
        100:'Scotland',
        101:'Japan',
        102:'South Korea'}
s=pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [39]:
s.iloc[0]

'Bhutan'

In [40]:
s.loc[99]

'Bhutan'

In [43]:
s[0]          # ------------------#it uses loc

KeyError: 0

In [44]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [46]:
for i in s:
    print(i)

100.0
120.0
101.0
3.0

In [47]:
total=0
for item in s:
    total+=item
print(total)

324.0

In [48]:
import numpy as mp
total=np.sum(s)
print(total)

324.0

In [55]:
np.random.randint(0,1000,10000)

array([406, 910, 407, ..., 109, 440, 566])

In [56]:
s=np.random.randint(0,1000,10000)

In [57]:
len(s)

10000

In [60]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    602
1    899
2    355
3    795
4    863
dtype: int32

In [61]:
%%timeit -n 5                                      #magical function in jupyter notebook
summary=0
for i in s:
    summary+=item

1.93 ms ± 426 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [62]:
%%timeit -n 5
summary=np.sum(s)

262 µs ± 39.5 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [74]:
s+=2           ## adds two to each item in s using broadcasting
s.head()

0    620
1    917
2    373
3    813
4    881
dtype: int32

In [76]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    624
1    921
2    377
3    817
4    885
dtype: int32

In [77]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    921
2    377
3    817
4    885
dtype: int32

In [4]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

5.18 s ± 75.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 38.59 times longer than the fastest. This could mean that an intermediate result is being cached.
2.08 ms ± 4.24 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)